# Ejemplo de variables de entorno
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/ecomsuplementos
JWT_SECRET=supersecreto
MERCADOPAGO_PUBLIC_KEY=pk_test_xxx
MERCADOPAGO_ACCESS_TOKEN=TEST-xxx
NEXTAUTH_SECRET=supersecreto
