# Ejemplo de variables de entorno
DATABASE_URL=postgresql://postgres:[j!9T3vm@8bV,PTS]@db.sdvqguwymeixdkvyzvft.supabase.co:5432/postgres
JWT_SECRET=supersecreto
MERCADOPAGO_PUBLIC_KEY=pk_test_xxx
MERCADOPAGO_ACCESS_TOKEN=TEST-xxx
NEXTAUTH_SECRET=supersecreto
